<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="/realtimechart-1"><i class="fa fa-fw fa-bar-chart-o"></i> 1번 Beacon</a>
        </li>
        <li class="active">
            <a href="/realtimechart-2"><i class="fa fa-fw fa-bar-chart-o"></i> 2번 Beacon</a>
        </li>
        <li>
            <a href="/realtimechart-3"><i class="fa fa-fw fa-bar-chart-o"></i> 3번 Beacon</a>
        </li>
        <li>
            <a href="/realtimechart-4"><i class="fa fa-fw fa-bar-chart-o"></i> 4번 Beacon</a>
        </li>
        <li>
            <a href="/realtimechart-5"><i class="fa fa-fw fa-bar-chart-o"></i> 5번 Beacon</a>
        </li>
        <li>
            <a href="/input"><i class="fa fa-fw fa-gear"></i> 설 &nbsp;&nbsp;정</a>
        </li>
    </ul>
</div>
