

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Dashboard
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-sitemap fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">40</div>
                                <div>중계기</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-rss-square fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">30</div>
                                <div>감지기</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-exclamation-sign fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">13</div>
                                <div>주의</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>

                </div>
            </div>


            <div class="col-lg-3 col-md-6">

                <div id="test5" class="panel panel-ready">

                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                              <div id ="test3">
                                <i class="glyphicon glyphicon-cog fa-5x"></i>
                            </div>
                          </div>
                            <div class="col-xs-9 text-center">
                                <div id="test6"class="huge">측정</div>

                            </div>
                        </div>
                    </div>
                    <script>

                    </script>
                    <a href="#" id="BTN">
                        <div class="panel-footer">
                            <span id="test7" class="pull-left">기준치 잡기</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>

                </div>
            </div>

        </div>



        <br>
        <div class ="row">

        <div class="col-lg-7">
          <label>Selects</label>
          <select class="form-control">
              <option>1 번도로</option>
              <option>2 번도로</option>
              <option>3 번도로</option>
              <option>4 번도로</option>
              <option>5 번도로</option>
          </select>
            <canvas id="canvas" width="50%" height="25%";>

            </canvas>

        </div>
        <br>
        <div class="col-lg-5">

        <div id = "googleMap" style="width:100%;height:320px;"></div>
      </div>
        <br>
        <br>

        <div class="col-lg-7">
          <label>Selects</label>
          <select class="form-control">
              <option>1 번도로</option>
              <option>2 번도로</option>
              <option>3 번도로</option>
              <option>4 번도로</option>
              <option>5 번도로</option>
          </select>
            <canvas id="canvas2" width="50%" height="25%";></canvas>

        </div>
        <br>

        <div class="col-lg-5">
          <br>
          <div id = "googleMap2" style="width:100%;height:320px;"></div>
      </div>
        <!--
        <button id="addDataset">Add Dataset</button>
        <button id="removeDataset">Remove Dataset</button>
        <button id="addData">Add Data</button>
        <button id="removeData">Remove Data</button>
      -->
        <script>

            //var MONTHS = [];
            var randomScalingFactor = function() {
                return Math.round(Math.random() * 100 * (Math.random() > 0.5 ? -1 : 1));
            };
            var randomColorFactor = function() {
                return Math.round(Math.random() * 255);
            };
            var randomColor = function(opacity) {
                return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
            };
            var config1 = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [
                    {
                        label: "1번 구역",
                        data: [],
                        //length:data.length,
                        lineTension: 0,
                        fill: false,
                    }, ]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom',
                    },
                    hover: {
                        mode: 'label'
                    },
                    scales: {
                        xAxes: [{

                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'data'
                            }
                        }],
                        yAxes: [{
                            ticks:{
                              suggestedMax: 200,
                              beginAtZero: true
                            },
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Time'
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: '1번 도로'
                    }
                }
            };
            var config2 = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [
                    {
                        label: "1번 구역",
                        data: [],
                        //length:data.length,
                        lineTension: 0,
                        fill: false,
                    }, ]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom',
                    },
                    hover: {
                        mode: 'label'
                    },
                    scales: {
                        xAxes: [{

                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'data'
                            }
                        }],
                        yAxes: [{
                            ticks:{
                              suggestedMax: 200,
                              beginAtZero: true
                            },
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Time'
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: '1번 도로'
                    }
                }
            };

            $.each(config1.data.datasets, function(i, dataset) {
                var background = randomColor(0.5);
                dataset.borderColor = background;
                dataset.backgroundColor = background;
                dataset.pointBorderColor = background;
                dataset.pointBackgroundColor = background;
                dataset.pointBorderWidth = 1;
            });
            $.each(config2.data.datasets, function(i, dataset) {
                var background = randomColor(0.5);
                dataset.borderColor = background;
                dataset.backgroundColor = background;
                dataset.pointBorderColor = background;
                dataset.pointBackgroundColor = background;
                dataset.pointBorderWidth = 1;
            });

            window.onload = function() {
                var ctx = document.getElementById("canvas").getContext("2d");
                var ctx2 = document.getElementById("canvas2").getContext("2d");
                window.myLine1 = new Chart(ctx, config1);
                window.myLine2 = new Chart(ctx2, config2);
                //console.log(config.data.datasets.data);
            };
      </script>


        <script src="/socket.io/socket.io.js"></script>
        <script>
        var socket = io.connect("http://localhost:3000");
        var check_icon = $("#test3 i");
        var check_color = $("#test5");
        var check_text = $("#test6");
        var check_click= $("#BTN");
        var alert_text = $("#test7");
        var startbnt=0;
        var rule1,rule2;
        var eval1 =0,eval2=0;
        var count=0;

        socket.on('chat message',function (data4,data5) {
          console.log("chat message: ",data4,data5);
          var accdata1 = data4/100;
          var accdata2 = data5/100;

          check_click.click(function () {
            startbnt=1;
            eval1=0;
            eval2=0;
            check_color.removeClass("panel-green")
            check_color.removeClass("panel-yellow")
            check_color.removeClass("panel-red")
            check_icon.removeClass("glyphicon glyphicon-cog");
            check_color.addClass("panel-ready")
            check_icon.addClass("fa fa-history")
            alert_text.text("");
            check_text.text(" 측정 중입니다...");
            check_text.removeClass("huge");
            check_text.addClass("huge1");

          });
          if(startbnt==1){


            console.log('count: '+((count/2)+1));
            if(count==20-2){

              rule1=eval1/(10-1);
              rule2=eval2/(10-1);
              console.log("rule1:"+rule1*100+" rule2:"+rule2*100);
              startbnt=0;
              count=0;
            }
          }

          if(rule1){


          if((rule1+100)<=accdata1||(rule2+100)<=accdata2){
            if(accdata1>(rule1+150)&&accdata2<(rule2+150)){
              check_text.text("위험");
              alert_text.text("기준치 측정");
              check_color.removeClass("panel-ready");
              check_color.removeClass("panel-green");
              check_color.removeClass("panel-yellow");
              check_icon.removeClass("fa fa-history");
              check_icon.removeClass("glyphicon glyphicon-cog");
              check_icon.removeClass("fa fa-smile-o");
              check_icon.removeClass("fa fa-meh-o");
              check_color.addClass("panel-red");
              check_icon.addClass("fa fa-frown-o");
              console.log("1번 도로 위험!!");
            }
            if(accdata1<=(rule1+150)&&accdata2>=(rule2+150)){
              check_text.text("위험");
              alert_text.text("기준치 측정");
              check_color.removeClass("panel-ready");
              check_color.removeClass("panel-green");
              check_color.removeClass("panel-yellow");
              check_icon.removeClass("fa fa-history");
              check_icon.removeClass("glyphicon glyphicon-cog");
              check_icon.removeClass("fa fa-smile-o");
              check_icon.removeClass("fa fa-meh-o");
              check_color.addClass("panel-red");
              check_icon.addClass("fa fa-frown-o");
              console.log("2번 도로 위험!!");
            }
            if(accdata1>=(rule1+150)&&accdata2>=(rule2+150)){
              check_text.text("위험");
              alert_text.text("기준치 측정");
              check_color.removeClass("panel-ready");
              check_color.removeClass("panel-green");
              check_color.removeClass("panel-yellow");
              check_icon.removeClass("fa fa-history");
              check_icon.removeClass("glyphicon glyphicon-cog");
              check_icon.removeClass("fa fa-smile-o");
              check_icon.removeClass("fa fa-meh-o");
              check_color.addClass("panel-red");
              check_icon.addClass("fa fa-frown-o");
              console.log("1번 도로 2번 도로 위험!!");
            }
            else if(accdata1>=(rule1+100)&&accdata1<=(rule1+150)&&accdata2>=(rule2+100)&&accdata2<=(rule2+150)){
              check_text.text("주의");
              alert_text.text("기준치 측정");
              check_color.removeClass("panel-ready");
              check_color.removeClass("panel-green");
              check_color.removeClass("panel-yellow");
              check_icon.removeClass("fa fa-history");
              check_icon.removeClass("glyphicon glyphicon-cog");
              check_icon.removeClass("fa fa-smile-o");
              check_icon.removeClass("fa fa-frown-o");
              check_color.addClass("panel-yellow");
              check_icon.addClass("fa fa-meh-o");
              console.log("1번 도로 2번 도로 주의!");
            }
            else if(accdata1>=(rule1+100)&&accdata1<=(rule1+150)&&accdata2<=(rule2+100)){
              check_text.text("주의");
              alert_text.text("기준치 측정");
              check_color.removeClass("panel-ready");
              check_color.removeClass("panel-green");
              check_color.removeClass("panel-yellow");
              check_icon.removeClass("fa fa-history");
              check_icon.removeClass("glyphicon glyphicon-cog");
              check_icon.removeClass("fa fa-smile-o");
              check_icon.removeClass("fa fa-frown-o");
              check_color.addClass("panel-yellow");
              check_icon.addClass("fa fa-meh-o");
              console.log("1번 도로 주의!");
            }
            else if(accdata1<=(rule1+100)&&accdata2>=(rule2+100)&&accdata2<=(rule2+150)){
              check_text.text("주의");
              alert_text.text("기준치 측정");
              check_color.removeClass("panel-ready");
              check_color.removeClass("panel-green");
              check_color.removeClass("panel-yellow");
              check_icon.removeClass("fa fa-history");
              check_icon.removeClass("glyphicon glyphicon-cog");
              check_icon.removeClass("fa fa-smile-o");
              check_icon.removeClass("fa fa-frown-o");
              check_color.addClass("panel-yellow");
              check_icon.addClass("fa fa-meh-o");
              console.log("2번 도로 주의!");
            }
          }
          else if((rule1+100)>=accdata1&&(rule2+100)>=accdata2)
          {
            check_text.text("양호");
            alert_text.text("기준치 측정");
            check_text.removeClass("huge1");
            check_text.addClass("huge");
            check_color.removeClass("panel-ready");
            check_color.removeClass("panel-yellow");
            check_color.removeClass("panel-red");
            check_icon.removeClass("fa fa-history");
            check_icon.removeClass("glyphicon glyphicon-cog");
            check_icon.removeClass("fa fa-meh-o");
            check_icon.removeClass("fa fa-frown-o");
            check_color.addClass("panel-green");
            check_icon.addClass("fa fa-smile-o");
          }
          }

          if (config1.data.datasets.length > 0) {

              var now = new Date();
              var hour = now.getHours();
              var min = now.getMinutes();
              var second = now.getSeconds();
              config1.data.labels.push(hour+":"+min+":"+second);

              if(config1.data.labels.length==21){
                $.each(config1.data.datasets, function(i, dataset) {
                    config1.data.labels.shift(0,21);
                    dataset.data.shift(0,20);
                    if(startbnt==1){
                      count+=1;
                      eval1+=accdata1;
                      dataset.data.push(accdata1);
                    }
                    else{
                    dataset.data.push(accdata1);
                    }
                });
              }
              else{

              $.each(config1.data.datasets, function(i, dataset) {
                if(startbnt==1){
                  count+=1;
                  eval1+=accdata1;
                  dataset.data.push(accdata1);
                }
                else{
                  dataset.data.push(accdata1);
                }
              });
            }

              window.myLine1.update();
          }
          if (config2.data.datasets.length > 0) {

              var now = new Date();
              var hour = now.getHours();
              var min = now.getMinutes();
              var second = now.getSeconds();
              config2.data.labels.push(hour+":"+min+":"+second);

              if(config2.data.labels.length==21){
                $.each(config2.data.datasets, function(i, dataset) {
                    config2.data.labels.shift(0,21);
                    dataset.data.shift(0,20);
                    if(startbnt==1){
                      count+=1;
                      eval2+=accdata2;
                      dataset.data.push(accdata2);
                    }
                    else{
                    dataset.data.push(accdata2);
                    }
                });
              }
              else{

              $.each(config2.data.datasets, function(i, dataset) {
                if(startbnt==1){
                  count+=1;
                  eval2+=accdata2;
                  dataset.data.push(accdata2);
                }
                else{
                  dataset.data.push(accdata2);
                }
              });
            }

              window.myLine2.update();
          }
});


        </script>



        </div>


    </div>
    <!-- /.container-fluid -->

</div>
