<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../views/partials/head/head %>
    <!-- chart element-->
    <% include ../../views/partials/elements/chartelement %>
    <script src = "http://maps.googleapis.com/maps/api/js">
    </script>

    <script>
        var organization1 = new google.maps.LatLng(36.1290870,128.1874104);


        function HomeControl1(controlDiv1,map1) {
            controlDiv1.style.padding='5px';

            var controlUI1= document.createElement('div');
            controlUI1.style.backgroundColor='white';
            controlUI1.style.border='1px';
            controlUI1.style.cursor='pointer';
            controlUI1.style.textAlign='center';
            controlUI1.title =' set map to Home';
            controlDiv1.appendChild(controlUI1);

            var controlText1 = document.createElement('div');
            controlText1.style.fontFamily='Arial.sans-serif';
            controlText1.style.fontSize='12px';
            controlText1.style.paddingLeft='4px';
            controlText1.style.paddingRight='4px';
            controlText1.innerHTML ='<b>한국 도로공사 본사<b>'
            controlUI1.appendChild(controlText1);

            google.maps.event.addDomListener(controlUI1,'click',function () {
                map1.setCenter(organization1,36.1290870,128.1874104)
            });
        }


        function initialize() {

            var mapDiv1 = document.getElementById('googleMap');

            var mapProp1={
                center:organization1,
                zoom:15,
                zoomControl:true,
                zoomControlOptions: {
                    style:google.maps.ZoomControlStyle.SMALL
                },

                mapTypeId:google.maps.MapTypeId.ROADMAP
            };

            var map1 = new google.maps.Map(mapDiv1,mapProp1);

            //홈 컨트롤
            var HomeControlDiv1 = document.createElement('div');

            var homeControl1 = new HomeControl1(HomeControlDiv1,map1);

            //homeControlDiv.index = 1;
            map1.controls[google.maps.ControlPosition.TOP_RIGHT].push(HomeControlDiv1);


            //마커
            var marker1 = new google.maps.Marker({
                position : organization1,
                //animation:google.maps.Animation.BOUNCE
            });

            marker1.setMap(map1);


            var infowindow1 = new google.maps.InfoWindow({
                content:"<b>한국 도로공사 본사<b>"
            });


            infowindow1.open(map1,marker1);


        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="./img/kongtech-logo.png" width="100px"</img></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">

              <%include ../partials/top/message %>
              <%include ../partials/top/notice %>
              <%include ../partials/top/user %>

            </ul>
            <%include ../partials/side/sidemenu1%>
            <!-- /.navbar-collapse -->
        </nav>

        <!-- body-main insert -->
        <%include ../partials/body/dashboard%>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="javascripts/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

</body>

</html>
